#section6 {
  min-height: 100vh;
  .livecam-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .livecam-overlay.livecam-blended {
    background: linear-gradient(rgb(131, 96, 195), rgb(46, 191, 145));
    transition: opacity 500ms ease;
  }
  .livecam-content {
    height: 100%;
    gap: 2rem;
    margin: 10vh 4vw;
    position: relative;
    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      li {
        background: $dark-color;
        padding: 1rem;
        font-size: 1.8rem;
        border-radius: 1rem;
      }
    }
    .livecam-container {
      width: 60vw;
      max-width: 70rem;
      height: 40vh;
      position: relative;
    }
    .livecam-attr {
      grid-column: 2 / 3;
      font-size: 1.2rem;
    }
  }
}
