#section5 {
  min-height: 100vh;
  background: #ffc0cb;
  .neighborhood-grid {
    max-width: 160rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    gap: 6vh 4vw;
    margin: auto;
    padding: 10vh 4vw;
    .neighborhood-card {
      width: 100%;
      min-height: 22rem;
      position: relative;
      h2 {
        width: 100%;
        position: absolute;
        top: 1rem;
        left: 0;
        padding: 0.5rem 1rem;
        background: $white-color;
        color: $dark-color;
      }
    }
  }
}
