#section5 {
  min-height: 100vh;
  background: pink;
  .neighborhood-grid {
    max-width: 120rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 6rem;
    place-items: center;
    margin: 3rem auto;
    padding: 0 4vw;
    .neighborhood-card {
      width: 100%;
      min-height: 22rem;
      position: relative;
      h2 {
        width: 100%;
        position: absolute;
        top: 2rem;
        left: 0;
        padding: 0.5rem 1rem;
        background: $white-color;
        color: $dark-color;
      }
    }
  }
}
