#section1 {
  min-height: 80vh;
  overflow: hidden;
  .hot-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url('../images/surf_bg.jpg') no-repeat center center / cover;
  }
  .hot-overlay.hot-blended {
    background: linear-gradient(
      to bottom right,
      rgb(255, 110, 57),
      rgb(46, 0, 130)
    );
    transition: opacity 500ms ease;
  }
  .hot-section-content {
    position: relative;
    .grid-2.grid-hot {
      max-width: 160rem;
      grid-gap: 4rem;
      place-items: center;
      margin: 4rem auto 10rem;
      padding: 4rem;
      position: relative;
    }
    .grid-2.content-box-hot {
      min-height: 24rem;
      background: $white-color;
      color: $dark-color;
      border-radius: 1rem;
      padding: 1rem;
      div:nth-child(1) {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h2 {
          font-size: 3.5rem;
        }
        p {
          width: 70%;
          font-size: 1.6rem;
        }
        a {
          align-self: center;
        }
      }
    }
  }
}
