#section5 {
  min-height: 100vh;
  background: #ffc0cb;
  .art-wrapper {
    padding: 16rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    .fluid-s5-container {
      width: 50rem;
      height: 50rem;
      position: relative;
      img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
      }
      .art2 {
        cursor: pointer;
      }
    }
    .art-content {
      max-width: 50rem;
      margin: 4rem;
      font-size: 2.5rem;
      color: $dark-color;
    }
  }
}
