.livecams-section-1 {
  min-height: 100vh;
  margin-top: -12rem;
  img {
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(0, 0, 0);
    opacity: 0.9;
  }
  h1 {
    padding: 16rem 4rem 0 0;
    font-size: 7rem;
    text-align: end;
    position: relative;
  }
}

.livecams-section-2 {
  background: linear-gradient(to right, rgb(168, 192, 255), rgb(63, 43, 150));
  padding: 5rem 2rem;
  div {
    max-width: 60rem;
    margin: auto;
    padding: 3rem;
    border-radius: 5rem 0.5rem 5rem 0.5rem;
    font-size: 1.6rem;
    background: $white-color;
    color: $dark-color;
  }
  h2 {
    margin-bottom: 2rem;
    text-align: center;
  }
}

.livecams-section-3 {
  padding: 12vh 0;
  background: linear-gradient(
    to bottom right,
    rgb(168, 192, 255),
    rgb(63, 43, 150)
  );
  h1 {
    font-size: 2.5rem;
    padding: 0 4rem 4rem;
    font-family: $michroma;
    letter-spacing: 1px;
  }
}
