#livecams-hero {
  // min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom right, rgb(168, 192, 255), rgb(63, 43, 150));
  .livecams-container {
    margin: 20rem auto;
    h1 {
      font-size: 2.5rem;
      margin: 0 2rem 4rem;
      font-family: $michroma;
      letter-spacing: 1px;
    }
  }
}
