@include mediaLg {
  #neighborhoods > .neighborhoods-display > .neighborhood-grid {
    gap: 2rem;
  }
  footer > .footer-container {
    .footer-socials {
      justify-self: flex-start;
    }
  }
}

@include mediaMd {
  //  header
  header > nav > .header-brand-div > h2 {
    padding-left: 1.5rem;
    font-size: 1.3rem;
  }

  //  sections
  #section1 .grid-hot {
    grid-template-columns: 1fr;
  }
  #section3 {
    height: auto;
    .events-grid {
      height: 130vh;
      flex-direction: column;
      padding-bottom: 20vh;
      .events-video-container {
        max-width: 100%;
        position: relative;
      }
    }
    .video-modal-container > .video-modal {
      height: 50vh;
      img {
        top: 1vh;
        right: 10vw;
      }
    }
  }

  #section4 {
    .s4-content {
      grid-template-columns: 1fr;
      margin-bottom: 10rem;
      > div {
        height: 20rem;
        background: rgba(0, 0, 0, 0.4);
      }
      :nth-of-type(1),
      :nth-of-type(9) {
        grid-column: span 1;
        flex-direction: column;
        i {
          font-size: 48px;
        }
      }
      :nth-of-type(1) {
        grid-row: 8;
      }
      :nth-of-type(4) {
        grid-row: 9;
      }
      :nth-of-type(8) {
        grid-row: 10;
      }
    }
    .bg2 {
      background-position: right;
    }
  }

  #section5 {
    .art-wrapper {
      flex-direction: column;
      padding: 14rem 0;
      .fluid-s5-container {
        width: 40rem;
        height: 40rem;
      }
      .art-content {
        font-size: 2rem;
        max-width: 40rem;
        margin: 6rem 0 0;
        &:first-letter {
          font-size: 4rem;
        }
      }
    }
  }

  #section6 {
    .livecam-content {
      grid-template-columns: 1fr;
      ul {
        flex-direction: row;
        flex-wrap: wrap;
        li {
          font-size: 1.5rem;
        }
      }
      .livecam-attr {
        grid-column: 1;
      }
    }
  }

  //  footer
  footer > .footer-container {
    grid-template-columns: 1fr 1fr;
    .footer-top-btn {
      grid-column: 2;
      justify-self: center;
    }
    .footer-socials {
      grid-column: 2;
      place-self: center;
    }
    .newsletter-btn {
      grid-column: 2;
      justify-self: center;
      align-self: flex-end;
    }
    .footer-copyrights {
      grid-column: span 2;
    }
  }

  //  neighborhoods page
  #neighborhoods > .neighborhoods-hero > h1 {
    font-size: 4.5rem;
  }

  //  livecams page
  #livecams-section-1 > h1 {
    font-size: 5rem;
  }

  #livecams-section-2 > h1 {
    font-size: 2rem;
  }
}

@include mediaSm {
  //  divider
  .divider-wrapper {
    opacity: 0;
  }

  //  header
  header {
    nav {
      padding: 2rem 1.2rem;
      .header-brand-div {
        grid-template-columns: 1fr;
        grid-gap: 0.8rem 0;
        .brand-title {
          max-width: 22rem;
          margin: 0;
          span {
            font-size: 1rem;
          }
        }
        h2 {
          padding-left: 0;
        }
      }

      .header-menu-div {
        transform: scale(0.9);
        font-size: 0.9rem;
        .menu-searcher {
          margin-right: 1rem;
        }
        .header-menu {
          height: 0;
          padding: 2.5rem 1rem 2.5rem;
          .burgerBar {
            width: 3.2rem;
          }
          .burger-title {
            display: none;
          }
        }
      }
      ul {
        font-size: 2rem;
        li {
          padding: 1.5rem;
          input {
            width: 77%;
            font-size: 2.5rem;
          }
        }
      }
    }
    nav:before {
      height: 10rem;
    }
  }

  //  header slider
  .header-slider {
    .header-slide-box {
      display: block;
      margin-top: 12.1rem;
      padding: 2.5rem;
      h1 {
        font-size: 3rem;
      }
      p {
        font-size: 1.6rem;
      }
    }
  }

  //  weather div
  .weather-div > p {
    font-size: 1rem;
    &:nth-of-type(1),
    &:nth-of-type(3) {
      font-size: 1.5rem;
    }
    span {
      padding-right: 0.5rem;
    }
  }

  // header dots and arrows
  .dots,
  .arrow-div {
    transform: scale(0.8);
  }
  .dots {
    bottom: 6rem;
  }
  .arrow-div {
    bottom: 5.5rem;
  }

  //  title tag
  .title-tag {
    font-size: 3rem;
    padding: 1rem 2.5rem;
  }

  // home sections
  #section1 {
    .hot-section-content {
      .grid-2.grid-hot {
        grid-gap: 6rem 0;
        padding: 1.5rem;
        margin: 6rem auto;
      }
      .grid-2.content-box-hot {
        min-height: auto;
        div:nth-child(1) {
          padding: 0.2rem;
        }
      }
    }
  }

  #section5 > .art-wrapper {
    padding-top: 10rem;
    .art-content {
      margin-top: 4rem;
      font-size: 1.8rem;
      &:first-letter {
        font-size: 3.5rem;
        padding-right: 0.2rem;
      }
    }
  }

  #section6 > .livecam-content > .livecam-attr > .static-alert {
    font-size: 1.5rem;
  }

  //  modal
  .video-modal-container > .video-modal > img {
    max-width: 25px;
    max-height: 25px;
  }

  //  footer
  footer > .footer-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 4rem 2rem;
    .brand-title-footer {
      grid-row: 2;
      align-self: flex-start;
      margin: 0;
      p {
        font-size: 4rem;
      }
      span {
        font-size: 1.1rem;
      }
    }
    nav {
      grid-row: 3;
      ul li {
        font-size: 1.8rem;
        margin-bottom: 2.8rem;
      }
    }
    .contacts-box {
      grid-column: 1;
      grid-row: 6;
    }
    .footer-socials {
      grid-column: 1;
      grid-row: 4;
      place-self: flex-start;
    }
    .footer-top-btn {
      grid-column: 1;
      justify-self: flex-start;
      font-size: 1.2rem;
      width: 10rem;
      height: 2.6rem;
      padding: 0.4rem 1.5rem;
    }
    .newsletter-btn {
      grid-column: 1;
      grid-row: 5;
      place-self: flex-start;
    }
    .footer-copyrights {
      grid-column: span 1;
    }
  }

  //  neighborhoods page
  #neighborhoods {
    .neighborhoods-hero {
      height: calc(100vh - 4rem);
      h1 {
        font-size: 2.6rem;
        top: 22rem;
        left: 3rem;
      }
    }
    .neighborhoods-display > .neighborhood-grid {
      padding: 10vh 0;
    }
  }

  //  livecams page
  #livecams-section-1 > h1 {
    font-size: 3rem;
  }

  article.livecams-content > div {
    font-size: 1.4rem;
  }

  #livecams-section-2 {
    padding: 8vh 0;
    h1 {
      font-size: 1.3rem;
      text-align: center;
    }
  } 
}
