footer {
  width: 100vw;
  padding: 2.4rem;
  background: #666;
  .footer-container {
    max-width: 120rem;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 14vh 1fr 1fr 3vh;
    gap: 2rem;
    .brand-title-footer {
      margin-top: 2rem;
      span {
        p {
          font-size: 4.5rem;
          font-family: $michroma;
        }
        span {
          line-height: 1.1;
          font-size: 1.3rem;
        }
        &:hover {
          cursor: pointer;
        }
      }
    }
    nav {
      grid-row: 2 / 4;
      ul li {
        margin-bottom: 3.4rem;
        font-size: 2.2rem;
        a {
          transition: 300ms ease;
          &:hover {
            color: $blue-color;
            cursor: pointer;
          }
        }
      }
    }
    .contacts-box {
      grid-row: 2 / 3;
      align-self: center;
      font-size: 1.2rem;
      display: flex;
      i {
        align-self: center;
        margin-right: 2rem;
        color: palevioletred;
        transition: 1000ms ease;
        &:hover {
          color: $blue-color;
          opacity: 1;
        }
      }
      div {
        p {
          margin-top: 0.2rem;
        }
        :nth-of-type(1) {
          font-size: 1.6rem;
          margin-bottom: 2.4rem;
        }
        :nth-of-type(n + 5) {
          transition: 300ms ease;
        }
        :nth-of-type(n + 5):hover {
          color: $blue-color;
          cursor: pointer;
        }
      }
    }
    .footer-socials {
      grid-column: 3 / 4;
      grid-row: 1;
      justify-self: center;
      display: flex;
      height: 4rem;
      li {
        margin: 0 0.1rem;
        i {
          transition: color 400ms ease;
          &:hover {
            opacity: 1;
          }
        }
        &:nth-of-type(1):hover {
          color: #8a3ab9;
        }
        &:nth-of-type(2):hover {
          color: #00aced;
        }
        &:nth-of-type(3):hover {
          color: #3b5998;
        }
        &:nth-of-type(4):hover {
          color: #ff3333;
        }
        &:nth-of-type(5):hover {
          color: #0077b5;
        }
      }
    }
    .footer-top-btn {
      grid-column: 3 / 4;
      grid-row: 1;
      justify-self: flex-end;
      width: 12rem;
      height: 3rem;
      padding: 0.5rem 2rem;
      font-size: 1.4rem;
      border: 1px solid $white-color;
      border-radius: 1rem;
      text-transform: uppercase;
      transition: all 300ms ease;
      i {
        padding-left: 0.8rem;
        &:hover {
          opacity: 1;
        }
      }
      &:hover {
        color: $blue-color;
        background: $white-color;
        cursor: pointer;
      }
    }
    .newsletter-btn {
      grid-column: 3 / 4;
      grid-row: 1;
      width: 23rem;
      height: 4rem;
      justify-self: center;
      align-self: flex-end;
      display: flex;
      align-items: center;
      font-size: 1.3rem;
      color: $dark-color;
      background: linear-gradient(
        to left,
        rgb(217, 167, 199),
        rgb(255, 252, 220)
      );
      border-radius: 1rem;
      text-transform: uppercase;
      z-index: 1;
      position: relative;

      i {
        padding: 0 1rem 0 1.8rem;
        font-size: 1.8rem;
      }
    }
    .newsletter-btn:before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(
        to right,
        rgb(217, 167, 199),
        90%,
        rgb(255, 252, 220)
      );
      border-radius: 1rem;
      z-index: -1;
      opacity: 0;
      transition: all 1000ms ease;
    }
    .newsletter-btn:hover:before {
      opacity: 1;
    }
    .footer-copyrights {
      grid-column: span 3;
      place-self: center;
      font-size: 1.3rem;
    }
  }
}
