header {
  width: 100vw;
  //  banner
  .header-banner {
    display: flex;
    align-items: center;
    background: $blue-color;
    padding: 1rem 4rem;
    z-index: 2;
    position: relative;
    .header-title h1 {
      margin-left: 3rem;
      letter-spacing: 0.2rem;
    }
  }

  //  nav
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
    .header-brand-div {
      display: grid;
      grid-template-columns: 22rem 1fr 1fr;
      align-items: center;
      z-index: 1;
      .brand-title {
        display: flex;
        border: 1px solid $white-color;
        margin: auto;
        p {
          background: $blue-color;
          padding: 0rem 1rem;
          font-size: 3rem;
          font-family: $michroma;
        }
        span {
          align-self: center;
          padding-left: 0.2rem;
          line-height: 1.1;
          font-size: 1.1rem;
        }
      }
      h2 {
        grid-column: span 2;
        font-size: 2rem;
        padding-left: 4rem;
      }
    }

    .header-menu-div {
      justify-self: flex-end;
      z-index: 2;
      display: flex;
      align-items: center;
      .menu-searcher {
        color: $white-color;
        cursor: pointer;
        margin-right: 3rem;
        transition: transform 500ms ease 600ms;
      }
      .header-menu {
        height: 5rem;
        padding: 3.5rem 2rem 4rem;
        background: initial;
        border: none;
        .burgerBar {
          width: 4rem;
          height: 0.1rem;
          background: $white-color;
          transition: transform 500ms ease;
        }
        .burgerBar3 {
          transform: translateY(0.8rem);
          transition: opacity 200ms ease 300ms;
        }
        &:hover {
          cursor: pointer;
        }
        &:focus {
          outline: 1px dotted $white-color;
        }
        .burger-title {
          margin-top: 1.5rem;
          color: $white-color;
          transition: opacity 300ms ease 500ms;
        }
      }
    }

    //  nav menu
    ul {
      position: absolute;
      top: 7rem;
      right: 0;
      background: linear-gradient(
        to top left,
        rgb(0, 159, 255),
        rgb(236, 47, 75)
      );
      transform: translate(15rem, -25rem) scale(0);
      padding: 3rem;
      font-size: 2.5rem;
      border-radius: 0 0 0 4rem;
      z-index: 1;
      transition: transform 200ms ease 800ms;
      li {
        padding: 1.6rem;
        input {
          background: transparent;
          border: none;
          border-bottom: 1px solid $white-color;
          width: 75%;
          font-size: 3rem;
          color: $white-color;
          outline: 0;
          margin-left: 3rem;
        }
      }
    }
  }
  //  nav overlay
  nav:before {
    content: '';
    width: 100vw;
    height: 12rem;
    position: absolute;
    top: 7rem;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
}
