//  Header Slides
.header-slider {
  width: 100vw;
  height: calc(100vh - 5rem);
  margin: -13.5rem auto 0;
  position: relative;
  overflow: hidden;
  
  .header-slide {
    width: 100%;
    height: 100%;
    position: relative;
    .header-slide-box {
      position: absolute;
      left: 0;
      top: 20vh;
      padding: 4rem;
      h1 {
        margin-bottom: 1rem;
        font-size: 6rem;
        letter-spacing: 0.4rem;
      }
      p {
        font-size: 2rem;
      }
    }
    &:after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.5));
    }
  }
}
